.container {
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    input[type="file"] {
        width: 0;
    }

    .filename {
        margin-left: 0.3rem;
    }

    label {
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        vertical-align: middle;
        overflow: hidden;
        &::before {
            content: 'Select a game...';
        }

        &::-webkit-file-upload-button {
            visibility: hidden;
            width: 0;
        }
    }
}
