@use 'sass:math';

.powerswitch {
    $color: #aaa;

    display: flex;
    gap: 4px;
    justify-content: space-evenly;
    align-items: center;

    .label {
        font-size: 0.8rem;
        color: $color;
    }

    .arrowleft {
        $size: 5px;
        display: inline-block;
        width: 0px;
        height: 0px;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }

    .arrowright {
        $size: 5px;
        display: inline-block;
        width: 0px;
        height: 0px;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}


.switch {
    $height: 14px;
    $width: 34px;
    $padding: 0;
    $knob-height: $height - 2 * $padding;
    $knob-width: $knob-height;
    $knob-color: #d3d3d3;
    $knob-bg-color: #bbb;

    position: relative;
    display: inline-block;
    width: $width;
    height: $height;
    border: 1px solid $knob-bg-color;
    margin-bottom: 0;

    /* The slider */
    .knob {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $knob-color;
        -webkit-transition: .3s;
        transition: .3s;

        &:before {
            position: absolute;
            content: "";
            height: $knob-height;
            width: $knob-width;
            left: $padding - 1px;
            bottom: $padding - 1px;
            background-color: $knob-bg-color;
            -webkit-transition: .3s;
            transition: .3s;
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .knob:before {
            -webkit-transform: translateX($width - $knob-width - $padding * 2);
            -ms-transform: translateX($knob-width);
            transform: translateX($width - $knob-width - $padding * 2);
        }
    }
}
