.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out;

    &.open {
        visibility: visible;
        backface-visibility: visible;
        opacity: 1;
        z-index: 100;
    }

    .inner {
        position: relative;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content {
            background-color: var(--modal-bg-color);
            color: var(--modal-text-color);
            min-width: 50%;
            position: relative;
            margin: 2em;
            border: 1px solid var(--border-dark-color);
            border-radius: var(--border-radius);

            .header {
                border-bottom: 1px solid var(--border-color);
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;

                .title {
                    margin-bottom: 0.25em;
                    padding: calc(var(--padding) * 2);
                }

                .close {
                    position: absolute;
                    right: 1.5em;
                    box-sizing: content-box;
                    width: 1em;
                    height: 1em;
                    padding: 0.25em 0.25em;
                    color: #000;
                    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
                    border: 0;
                    border-radius: 0.25rem;
                    opacity: .5;
                }
            }

            .body {
                padding: var(--padding);
            }
        }
    }
}
