@use "sass:map";

$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;

$bg-color: #ffffff !default;
$text-color: #444444 !default;
$padding: 0.5rem !default;
$border-color: #dddddd !default;
$border-dark-color: rgba(0,0,0,.2) !default;
$border-radius: 4px !default;

$header-bg-color: #ffffff !default;
$header-brand-color: rgba(0,0,0,.9) !default;
$header-brand-font-size: 2.15rem !default;
$header-height: 50px !default;

$modal-bg-color: #ffffff !default;
$modal-text-color: #444444 !default;

$footer-height: 50px !default;
$footer-bg-color: #ffffff !default;
$footer-text-color: #666666 !default;
$footer-font-size: 1.2rem !default;

$link-color: #0a75ad !default;
$font-color: #222 !default;

$icon-font-family: "padme" !default;
$font-path: "fonts" !default;
$icon-cog: "\e994";
$icon-question: "\ea09";

// Breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$bp-larger-than-mobile    : "min-width: #{map.get($breakpoints, 'xs')}" !default;
$bp-larger-than-phablet   : "min-width: #{map.get($breakpoints, 'sm')}" !default;
$bp-larger-than-tablet    : "min-width: #{map.get($breakpoints, 'md')}" !default;
$bp-larger-than-desktop   : "min-width: #{map.get($breakpoints, 'lg')}" !default;
$bp-larger-than-desktophd : "min-width: #{map.get($breakpoints, 'xl')}" !default;
